@media screen, print {
    .main-content {
        line-height: 1.4;
    }

    li {
        margin: 0.5em 0;
    }

    // to use hangingindent, surround text in a div
    .hangingindent {
        padding-left: 1.5em ;
        text-indent: -1.5em ;
      }

    .site-footer {
        color: #5c5962;
    }

    .breadcrumb-nav {
        display: none;
    }
    
}

@media (min-width: 925px) {
    .float-right-lg {
      float: right;
      margin-left: 1em;
      margin-bottom: .5em;
    }

    .float-left-lg {
        float: left;
        margin-right: 1em;
        margin-bottom: .5em;
      }
}

@media screen {
    .show-print {
        display: none;
    }
    
}

@media print {
    //.side-bar {
        //position: relative;
    //}

    .show-print {
        display: block;
    }

    .multi-col {
      column-count: 2;
    }

    .no-print {
        display: none;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    @page {
        margin: 2cm;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    img {
        max-width: 100% !important;
    }

    li, img {
        page-break-inside: avoid;
    }
     

    .site-header {
        border-bottom: none;
    }

    .site-title {
        font-size: 36px !important;
    }
  }