$body-background-color: $white;
//$sidebar-color: #F3F2F1;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
//$body-text-color: #012169;
//$body-heading-color: #012169;
//$search-result-preview-color: #262626;
$nav-child-link-color: $grey-dk-100;
$link-color: #00539B;
$btn-primary-color: $purple-100;
//$base-button-color: #f7f7f7;

