---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.collaborators %}
<p>Collaborators: {{page.collaborators}}</p>
{% endif %}

<p><em>{{ page.date_range }}</em></p>

{{ content }}

{% if page.related-links %}

  <h2>Related Links:</h2>

  <ul>
  {% for lnk in page.related-links %}
    <li>{{ lnk }}</li>
  {% endfor %}
  </ul>

{% endif %}

{% assign refs = "" | split: ',' %}

{% for collection in site.collections %}
    {% for obj in site[collection.label] %}
        {% if obj.teaching == page.pid %}
          {% assign refs = refs | push: obj %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign refs = refs | sort: 'sort_date' | reverse %}

{% if refs.size > 0 %}

  <h2>Related Materials and Events:</h2>

  <ul>
  {% for ref in refs %}
    <li>{% include reference_formatting.html pid=ref.pid %}</li>
  {% endfor %}
  </ul>

{% endif %}
