---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.collaborators %}
<p>Collaborators: {{page.collaborators}}</p>
{% endif %}

<p><em>{{ page.date_range }}</em></p>

{{ content }}

{% if page.related-links %}

  <h2>Related Links:</h2>

  <ul>
  {% for lnk in page.related-links %}
    <li>{{ lnk }}</li>
  {% endfor %}
  </ul>

{% endif %}

{% assign refs = site.documents | where: "teaching", page.pid  %}

{% if refs.size > 0 %}

  {% assign cols = refs | map: 'collection' | uniq | sort %}

  {% assign sorted-cols = site.collections | where_exp: "collection", "cols contains collection.label" | sort: "display_order" %}

  <h2>Related Materials and Events:</h2>

  {% for col in sorted-cols %}

  <h3>{{ col.display_name }}</h3>

  {% assign ref_subset = refs | where: "collection", col.label %}

  {% assign ref_subset = ref_subset | sort: 'sort_date' | reverse %}

  <ul>
  {% for ref in ref_subset %}
    <li>{% include reference_formatting.html pid=ref.pid %}</li>
  {% endfor %}
  </ul>

  {% endfor %}

{% endif %}
